///////////////////////////////////////////////////////////////////////////////
// Nathanial Hapeman's Resume Website v2.0
// File: general.scss
// Purpose: Define reusable classes for project.
///////////////////////////////////////////////////////////////////////////////

* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0
}

html {
    box-sizing: border-box;
    font-family: $text-font-stack;
    //font-size: 62.5%;
    min-height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    background-image: url('~img/bg.png');
    color: $dark1;
    text-rendering: optimizeLegibility;
}

img,
svg {
    max-width: 100%;
}

// Basic styles for links
a {
    color: $color1;
    text-decoration: none;
}

@for $i from 1 through length($heading-sizes) {
    h#{$i} {
        font-size: $heading-sizes($i);
    }
}

h1 {color: $color1;}
h2 {color: $color2;}
h3 {color: $color3;}

h1, h2, h3, h4, h5 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
}

p, ul, ol, li, td, input, button, label {
    font-size: 1.6rem;
}

/////////////////////////////////////////////////////////////////////
// General Resuable Rules.
/////////////////////////////////////////////////////////////////////


// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*::before,
*::after {
    box-sizing: inherit;
}

.clearfix {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

.right {
    float: right;
}

.left {
    float: left;
}

.vertical-rows {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
}

.trace {
    border: 1px dashed rgba(254, 1, 1, 0.9);
}

%box-shadow {
    box-shadow: 0 4px 6px 0 $shadow;
}

%container {
    //@extend .trace;
    //border-radius: 3px;
    //border-top: 1px solid #e4e6e8;
    margin: $margin-small 0;
    padding: $padding-large;
}

%button {
    background-color: $color1;
    border: none;
    margin: $margin-small;
    outline: none;
    padding: $padding-small;
}

%v-center {
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
}

%h-center {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;
}

////////////////////////////////////////////////////////////////////////
// direction-layouts
////////////////////////////////////////////////////////////////////////

%direction-layouts {

    display: flex;
    flex-wrap: nowrap;
    text-align: center;

    .grow {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }

    &.equal > * {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }

    &.la {
        text-align: left;
    }

    &.ra {
        text-align: right;
    }
}

.l-to-r {
    @extend %direction-layouts;
    flex-direction: row;
}

.r-to-l {
    @extend %direction-layouts;
    flex-direction: row-reverse;
}

.t-to-b {
    @extend %direction-layouts;
    flex-direction: column;
}

.b-to-t {
    @extend %direction-layouts;
    flex-direction: column-reverse;
}

.center {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.spread {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
}


/////////////////////////////////////////////////////////////////////
// Text
/////////////////////////////////////////////////////////////////////

.centered {
    margin: $margin 0;
    text-align: center;
}

.red {
    color: red;
}