////////////////////////////////////////////////////////////////////////
// direction-layouts
////////////////////////////////////////////////////////////////////////

%direction-layouts {

    display: flex;
    flex-wrap: nowrap;
    text-align: center;

    .grow {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }

    &.equal > * {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }

    &.lt {
        text-align: left;
    }

    &.rt {
        text-align: right;
    }

    &.ca {
        align-items: center;
    }
}

%l-to-r {
    @extend %direction-layouts;
    flex-direction: row;
}

%r-to-l {
    @extend %direction-layouts;
    flex-direction: row-reverse;
}

%t-to-b {
    @extend %direction-layouts;
    flex-direction: column;
}

%b-to-t {
    @extend %direction-layouts;
    flex-direction: column-reverse;
}

////////////////////////////////////////////////////////////////////////
// Misc
////////////////////////////////////////////////////////////////////////

%box-shadow {
    box-shadow: 0 4px 6px 0 $shadow;
}

%container {
    //@extend .trace;
    //border-radius: 3px;
    //border-top: 1px solid #e4e6e8;
    margin: $margin-small 0;
    padding: $padding-large;
}

%button {
    color: red;
}

%hover-effect {
    color: $color1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: all $transition-time $transition-function;
}

%active-effect {
    color: $color2;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: all $transition-time $transition-function;
}